@import url('https://fonts.googleapis.com/css?family=Dosis');
body{

  background-color: #202321;
}
h1,li{
  color:#e8f9ff;
  font-size: 150%;
}
svg{
  background: linear-gradient(#4f5c60,#4f5c60);
  border-radius: 20px;
  margin-left:20px;
}
.one{
  float:right;
  display: inline-block;
  vertical-align: top;
  padding-top: 2%;
  position:fixed;
  margin-left:5%;
}
.two{
  display: inline-block;
  /* height: 90%; */
  /* width:17%; */
  vertical-align: top;
  padding-top: 2%;
  float:right;
  /* position:fixed; */

}
.second{
  float:right;
  width:80%;
  height:35%;
}
table{
  display: inline-block;
  clear:right;
  float: right;
  width:40%;
  vertical-align: top;
}
.line{
  fill:none;
  stroke:white;
  stroke-width: 3px;
}
.students{
  width:5%;
  height: 90%;
  /* float:right; */
  display: inline-block;
  position: fixed;
  /* overflow-y: scroll; */
  padding-left: 20px;
  padding-top:2%;
  background: white;
  border-radius: 20px 0px 0px 20px;
}
img{
  /* height:4%; */
  display: block;
  border-radius: 20px;
}
.hidden{
  opacity: 0;
}
.grid line{
  stroke:white;
}
.grid path{

  opacity:0;
}
.xAxis line, .xAxis path, .xAxis text{
  stroke:white;
  font-family:Dosis;
  font-size:1.5em;
}

.specificYaxis line, .specificYaxis path, .specificYaxis text{
  stroke:white;
  font-family:Dosis;
  font-size:1.5em;
}
.triangle{
  stroke:#2a5172;
  stroke-bottom: white;
}
